Source: libkinguard
Priority: optional
Maintainer: Tor Krill <tor@openproducts.se>
Build-Depends: debhelper (>= 10), cmake, pkg-config,
	libcppunit-dev,
	libopi-dev (>= 1.6.49),
	libutils-dev (>= 1.5.29)
Standards-Version: 4.1.2
Section: libs
Homepage: https://www.kinguardproject.org/


Package: libkinguard-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libkinguard1 (= ${binary:Version}), ${misc:Depends}
Description: Kinguard project high level functionality library
 Development files for the libkinguard package

Package: libkinguard1
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Kinguard project high level functionality library
 High level functionality for the Kinguard project platform.
 This library contains functionality for managing resources
 such as users, backup etc. 
